* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea {
  resize: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
